@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #fefefe;
  color: #333;
}

header,
main {
  padding: 10px;

}

header {
  background-color: #724319;
  color: #fefefe;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  position: relative;
}

#logo-principal {
  height: 60px;
  width: 60px;
}

#navlinks {
  display: flex;
  gap: 1rem;
  list-style: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

a:hover {
  color: #f7ca37;
}

main {
  display: flex;
  flex-direction: column;
  /* width: 100%;
  height: 100%; */
  gap: 20px;
  background-color: #FFF29C;
}

.first-container{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
}

#first-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-container{
  background-color: #ED8A0A;
  margin: 0;
}

.first-container #img-vector{
  display:flex;
  z-index: 2;
  margin-top: -5rem;
  position: relative;
  width: 100%;
  height: 100% ;
}

#img-garota{
  display:flex;
  z-index: 3;
  position: relative;
  margin-top: -31rem;
  margin-left: 8rem;
  width: 60% ;
}

section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#descricao {
  width: 100%;
}

#chat-bot {
  height: 100%;
  /* width: 400px; */
  /* justify-content: end; */
}

#chat-bot img {
  width: 100%;
  height: 100%;
}

.div-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* h1,
h2 {
  font-family: "Sour Gummy", sans-serif;
} */

h1,h2{
  font-family: "Titan One";
}

h1{
  font-size: 100px;
  color: #724319;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

p,
ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

ul {
  list-style-type: square;
}

@media (max-width: 664px) {
  main {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}